* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
    color: antiquewhite;
}

body {
    background-color: #111217;
}

.input-box {
    display: flex;
    flex-direction: column;
    margin: 150px auto 0;
    justify-content: center;
    align-items: center;
}

.cod-search {
    display: flex;
}

.cod-search input {
    height: 40px;
    width: 250px;
    border-radius: 10px;
    padding: 0 15px;
    border: none;
    box-shadow: 0 0 3px antiquewhite;
}

.button-box {
    margin: 15px;
}

.button-box button {
    margin: 5px;
    height: 40px;
    width: 100px;
    border-radius: 10px;
    background-color: #111217;
    border: none;
    box-shadow: 0 0 3px antiquewhite;
    color: #ccc;
    cursor: pointer;
    transition: .3s;
}

.button-box button:hover {
    background: linear-gradient(45deg, #ff2500, #ff7100);
    box-shadow: 0 0 8px antiquewhite;
}

.button-search {
    margin: 0 0 0 15px;
}

.button-search button {
    height: 40px;
    width: 80px;
    border-radius: 10px;
    background-color: #111217;
    border: none;
    box-shadow: 0 0 3px antiquewhite;
    color: #ccc;
    cursor: pointer;
    transition: .3s;
}

.button-search button:hover {
    box-shadow: 0 0 8px antiquewhite;

}

.show-more-btn {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    gap: 10px;
    cursor: pointer;
    transition: .3s;
}

.show-more-btn:hover {
    transform: scale(1.05);
}

.search-box {
    display: flex;
    gap: 30px;
    margin: 0 0 20px 0;
}

.search-box input {
    height: 40px;
    width: 250px;
    border-radius: 10px;
    padding: 0 15px;
    border: none;
    box-shadow: 0 0 3px antiquewhite;

}

#btn-show-more {
    display: flex;
    justify-content: center;
}

#btn-show-more button {
    width: 250px;
}

.show-more-btn.ativo i {
    transform: rotate(180deg);
}

.show-more-btn.ativo{
    width: 143px;
    margin: 0 auto 15px;
}


select {
    color: #111217;
    height: 40px;
    width: 250px;
    border-radius: 10px;
    padding: 0 15px;
    border: none;
    box-shadow: 0 0 3px antiquewhite;
}

option {
    color: #111217;
    border-radius: 30px;
}

option:hover {
    background-color: #f50505; /* Cor de fundo ao passar o mouse */
}

option:focus {
    background-color: #ddd; /* Cor de fundo quando em foco */
    outline: none; /* Remover contorno */
}

#properties {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(330px, 2fr));
    gap: 50px;
    padding: 20px;
}

.property {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
}

.property img {
    max-width: 100%;
}

.property h2 {
    margin-top: 0;
}

.hide {
    display: none;
}

.images-content img{
    height: 360px;
    width: 360px;
    border-radius: 20px;
    box-shadow: 0px 0px 5px #ffffff;
    margin: 0 auto;
}

.bullets-container{
    display: flex;
    justify-content: center;
    gap:  20px;
    margin: 10px auto;
}

.circulo{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    box-shadow: 0px 0px 5px #ffffff;
    cursor: pointer;

}

.circulo.ativo{
    background: linear-gradient(45deg, #ff2500, #ff7100);
}

.circulo i{
    color: #111217;
    font-size: 20px;
}

.property-dependencies {
    display: flex;
    justify-content: space-evenly;
}

.fade {
    animation: fade 1.2s ease-in-out;
}

@keyframes fade{
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }

}

@media screen and (max-width: 1200px){

    #properties {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .properties-content{
        text-align: center;
        margin-top: 15px;
    }

    .properties-content h3 {
        margin: 15px 0;
        text-transform: uppercase;
    }

    #code {
        background-image: linear-gradient(45deg, #ff2500, #ff7100);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

    }

    .search-box {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .search-box input {
        width: 120px;
    }

    .search-box select {
        width: 120px;
    }

    option {
        width: 100%;
    }
    
}
